* {
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 100%;
}





.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 50px;
    
}

.header .left {
    display: flex;
}

.header ul {
    margin-right: 120px;
}

.header ul li{
    display: inline;
}



.header ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


.header ul li a:hover {
    color: rgb(65, 3, 124) ;
    transition: 0.4s;
}

.header ul li a:active {
    background-color: rgb(65, 3, 124) ;
    color: white;
    padding: 10px;
    border-radius: 50%;
}


.header .left input {
    border: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-right: 7px;
    padding: 5px;
    width: 200px;
    height: 25px;
    background-color: rgb(236, 236, 236);
}

.header .left input {
    
}

.header .left input:active {
    border: 0px;
}

.header .left button {
    box-sizing: border-box;
    font-size: 10px;
    padding: 8px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(65, 3, 124);
    border-radius: 5px;
    border: 0px;
}
.header .left button:hover {
    cursor: pointer;
    background-color: rgb(41, 3, 77);
    transition: 0.3s;
}
    

.intro {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.intro  .role h3{
    font-size: 30px;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.mission {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-top: 20px;
}


.goals {
    display: flex;
    width: 70%;
    padding: 30px;
    margin-top: 40px;
    margin: auto;
    justify-content: space-between;
}

.goal {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.goal img {
    align-items: center;
}

.workshop {
    text-align: center;
}

.workshop h1 {
    text-align: center;
}

.workshop ul {
    margin-top: 90px;
}

.workshop ul li {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.welcome {
    display: block;
    align-self: center;
    width: 70%;
    margin-left: 300px;
    margin-top: 10px;
}

.welcome h3 {
    margin-bottom: 20px;

}

.welcome h1 {
    margin-top: 40px;
    text-align: center;
}

.pdev {
    display: flex;
    width: 70%;
    margin-top: 40px;
    margin: auto;
    justify-content: space-evenly;
    margin-top: 90px;
    text-align: left;
}

.pdev2  {
    margin-top: 120px;
    margin-left: -40px;
}

.pdev1 h1 {
    margin-bottom: 40px;
}

.pdev1 ul {
    width: 300px;
}

.pdev1 ul li {
    font-size: 25px;
}

.sskill {
    display: flex;
    width: 70%;
    margin-top: 40px;
    margin: auto;
    justify-content: space-evenly;
    margin-top: 90px;
    text-align: left;
}

.skillp h1 {
    margin-bottom: 70px;
}

.skillp ul {
    width: 500px;
}

.skillp ul li {
    font-size: 20px;
}

.spic  {
    margin-top: 20px;
    margin-left: -40px;
}

.transform {
    text-align: center;
    margin-top: 30px;
}

.order {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    
}

.order img {
    width: 300px;
    height: 300px;
    margin-left: 80px;
}


button {
    padding: 5px;
    cursor: pointer;
    
}

.order .orderin #f1 {
    width: 400px;
    height: 50px;
    background-color: greenyellow;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 20px;
}

.order .orderin #f4 {
    margin-top: 50px;
    margin-left: 20px;
    background-color: greenyellow;
}

.swell {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(216, 177, 3); 
    padding: 50px;
    height: 100px;
    width: 350px;
    border-radius: 20px;
    margin: auto;
    margin-top: 60px;
}

.pic {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: 90px;
}

.pic .pic1 img {
    width: 300px;
    height: 300px;
   
}

.form {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: 90px;
}

.form .note {
    width: 300px;
    height: 300px;
    background-color: rgb(128, 212, 38);
    padding: 30px;
    text-align: center;
    line-height: 40px;
}

.form .info {
    display: flex;
}

.form .info input {
    width: 200px;
    height: 30px;
    display: inline;
}

.footer {
    background-color: black;
    height: 200px;
    width: 100%;
    margin-top: 40px;
}



@media (max-width: 600px){
    
    .header {
        display: none;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        height: 50px;
        
    }
    
    .header .left {
        display: flex;
    }
    
    .header ul {
        margin-right: 10px;
    }
    
    .header ul li{
        display: inline;
    }
    
    
    
    .header ul li a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 10px;
        margin-right: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    .header ul li a:hover {
        color: rgb(65, 3, 124) ;
        transition: 0.4s;
    }
    
    .header ul li a:active {
        background-color: rgb(65, 3, 124) ;
        color: white;
        padding: 10px;
        border-radius: 50%;
    }
    
    
    .header .left input {
        border: hidden;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        margin-right: 7px;
        padding: 5px;
        width: 50px;
        height: 10px;
        background-color: rgb(236, 236, 236);
    }
    
    .header .left input {
        
    }
    
    .header .left input:active {
        border: 0px;
    }
    
    .header .left button {
        box-sizing: border-box;
        font-size: 10px;
        padding: 8px;
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1px;
        background-color: rgb(65, 3, 124);
        border-radius: 5px;
        border: 0px;
    }
    .header .left button:hover {
        cursor: pointer;
        background-color: rgb(41, 3, 77);
        transition: 0.3s;
    }
       

    .intro {
        display: inline-block;
        width: 100%;
        margin: auto;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        box-sizing: border-box;
    }
    
    .intro  .role h3{
        font-size: 10px;
        margin-bottom: 10px;
        color: rgb(0, 0, 0);
        text-align: center;
    }

    .intro .img {
        margin-bottom: 30px;
        
        margin-top: -100;
        justify-content: right;
        width: 100%;
        background-color: black;
    }
    .intro .img img {
        width: 100px;
        height: 100px;
        
    }

    .mission {
        display: inline-block   ;
        background-color: aqua;
        color: rgb(0, 0, 0);
        padding: 5px;
        font-size: 15px;
        margin-left: 10px;
        margin-top: 10px;
        width: 80%;
    }

    .mission h4 {
        margin-top: 10px;
        text-align: center;
    }

    .goals {
        display: inline-block;
        justify-content: center;
        justify-content: space-between;
        justify-content: space-around;
        margin-top: 30px;
    }
    
    .goal {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 40px;
    }
    
    .goal img {
        align-items: center;
        width: 100px;
        height: 100px;
        margin-left: 5px;
    }

    .goal h1 {
        font-size: 10px;
    }

    .goal p {
        text-align: center;
        margin-top: 10px;
        font-size: 10px;
    }
    
    .workshop {
        text-align: center;
    }
    
    .workshop h1 {
        text-align: center;
        font-size: 15px;
    }

    .goal h1 {
        font-size: 15px;
    }
    
    .workshop ul {
        margin-top: 20px;
    }
    
    .workshop ul li {
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .welcome {
        display: block;
        align-self: center;
        width: 80%;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
        text-align: justify;
    }
    
    .welcome  p {
        font-size: 10px;
    }

    .welcome h3 {
        margin-bottom: 20px;
    }
    
    .welcome h1 {
        margin-top: 20px;
        text-align: center;
    }

    .pdev {
        display: inline-block;
        justify-content: center;
        justify-content: space-between;
        justify-content: space-around;
        width: 80%;
        margin-left: 30px;
        margin-top: 30px;
        text-align: left;
        font-size: 15px;
        box-sizing: border-box ;
        padding: 20px;
    }
    
    .pdev2  {
        box-sizing: border-box;
        padding: px;
        margin-top: 20px;
        margin-left: 00px;
        align-self: center;
    }

    .pdev2 img {
        width: 250px;
        height: 74;
        padding-right: 30px;
    }
    
    .pdev1 h1 {
        margin-bottom: 10px;
        font-size: 15px;
    }
    
    .pdev1 ul {
        width: 300px;
    }
    
    .pdev1 ul li {
        font-size: 10px;
    }

    .sskill {
        display: inline-block;
        width: 80%;
        margin-left: 30px;
        justify-content: center;
        justify-content: space-between;
        justify-content: space-around;
        margin-top: 10px;
        text-align: left;
        padding: 20px;
        box-sizing: border-box;
    }
    
    .skillp h1 {
        margin-bottom: 20px;
        font-size: 15px;
    }
    
    .skillp ul {
        width: 250px;
    }
    
    .skillp ul li {
        font-size: 10px;
    }
    
    .spic  {
        margin-top: 20px;
        margin-left: 00px;
        box-sizing: border-box;
        padding: 20px;
    }

    .spic img {
        width: 150px;
        height: 200px;
    }

    .transform {
        display: inline-block;
        width: 70%;
        margin: auto;
        text-align: center center;
        margin-top: 10px;
        padding: 20px;
        box-sizing: border-box;
    }

    .transform h1 {
        font-size: 15px;
        text-align: center;
    }

    .order {
        clear: both;
        display: block;
        width: 70%;
        background-color: black;
        align-items: center ;
        margin: auto;
    }

    .order .orderin #f1 {
        width: 200px;
        height: 25px;
        background-color: greenyellow;
        font-size: 10px;
        color: rgb(255, 255, 255);
        border: 0px;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 20px;
        
        box-sizing: border-box;
    }
    
    .order .orderin #f4 {
        margin-top: 50px;
        
        background-color: greenyellow;
    }

    .order .orderin img {
        width: 200px;
        height: 300px;
    }

    .swell {
        display: inline-block;
        margin: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgb(216, 177, 3); 
        padding: 10px;
        padding-top: 40px;
        height: 100px;
        width: 60%;
        border-radius: 20px;
        text-align: center center;
        margin-top: 60px;
        margin-left: 45px;
    }

    .swell .swell1 {
        display: inline-block;
        
    }
    .swell h4 {
        font-size: 15px;
    }

    .swell p {
        font-size: 10px;
    }
    
    .pic {
        display: inline-block;
        justify-content: center;
        justify-content: space-between;
        justify-content: space-around;
        margin: auto;
        margin-top: 40px;
        margin: 15px;
    }
    
    .pic .pic1 img {
        width: 320px;
        height: 300px;
       margin-bottom: 20px;
    }

    .form {
        display: block;
        justify-content: center;
        justify-content: space-between;
        justify-content: space-around;
        margin-top: 90px;
        width: 100%;
    }
    
    .form .note {
        width: 80%;
        height: 600px;
        background-color: rgb(128, 212, 38);
        padding: 30px;
        margin: 10px;
        margin-bottom: 50px;
        box-sizing: border-box;
        text-align: center;
        line-height: 40px;
    }
    
    .form .info {
        display: flex;
        box-sizing: border-box;
        margin: 15px;
        background-color: rgb(214, 214, 214);
        padding: 20px;
        width: 80%;
        border-radius: 5px;
    }

    .form .info h3 {
        margin-bottom: 20px;
    }

    .form label {
        font-size: 15px;
    }
    
    .form .info input {
        width: 150px;
        height: 30px;
        display: inline;
        margin-bottom: 15px;
    }

    form .info label {
        margin-right: 5px;
    }

    form .info textarea {
        width: 250px;
    }

    
    nav {
            display: hidden;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            height: 50px;
            
    }
    
    .footer {
    background-color: black;
    height: 200px;
    width: 100%;
    margin-top: 40px;
}

}